---
import DocLayout from '../layouts/DocLayout.astro';
import TechStackInfographic from '../components/TechStackInfographic.astro';
---

<DocLayout title="Tech Stack Flow" description="Interactive visual exploration of the Continuum Flow technology stack.">
    <!-- Overriding main layout padding to allow full width for the infographic -->
    <div class="-mt-8 -mx-4 md:-mx-8 lg:-mx-12">
        <TechStackInfographic />
    </div>
</DocLayout>
